.new-post-form {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin: 10px 50px 10px 0;
  border: 1px solid #e8e8e8;
  border-radius: 10px;
  padding: 10px;
}

.new-post-form textarea {
  resize: none;
  height: 130px;
  padding: 10px;
  font-size: 1.3rem;
  border: none;
  margin: 0;
  outline: none;
  width: calc(100% - 20px);
  /* white-space: nowrap; */
}
.form-content {
  width: 100%;
}

.new-post-form button[type="submit"] {
  background-color: #1da1f2;
  border: none;
  border-radius: 30px;
  color: #fff;
  cursor: pointer;
  font-size: 0.9rem;
  font-weight: bold;
  padding: 8px 16px;
  text-align: center;
  max-width: 120px;
  align-self: flex-end;
  margin-left: auto;
}
@media (max-width: 767px) {
  .new-post-form,
  .post {
    margin-right: 10px;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .new-post-form,
  .post {
    margin-right: 30px;
  }
}

@media (min-width: 992px) {
  .new-post-form,
  .post {
    margin-right: 50px;
  }
}
