.sidebar {
  border-right: 1px solid var(--twitter-background);
  margin-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
}

.sidebar__twitterIcon {
  color: var(--twitter-color);
  font-size: 30px !important;
  margin-left: 20px;
  margin-bottom: 20px;
}

.sidebar-button[type="submit"] {
  margin-top: 20px;
  background-color: #1da1f2;
  border: none;
  border-radius: 30px;
  color: #fff;
  cursor: pointer;
  font-size: 0.9rem;
  font-weight: bold;
  padding: 8px 16px;
  text-align: center;
  max-width: 120px;
  align-self: center;
}

@media (min-width: 640px) {
  .sidebar {
    border-right: 1px solid var(--twitter-background);
    width: 300px;
  }
}

@media (max-width: 375px) {
  .sidebar {
    width: 25%;
    padding: 10px;
  }

  .sidebar__twitterIcon {
    margin-bottom: 10px;
  }

  .sidebar__tweet {
    margin-top: 10px !important;
  }
}
