.sidebar {
  border-right: 1px solid var(--twitter-background);
  flex: 0.3;
  margin-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
}

.sidebar__twitterIcon {
  color: var(--twitter-color);
  font-size: 30px !important;
  margin-left: 20px;
  margin-bottom: 20px;
}

.sidebar__tweet {
  background-color: var(--twitter-color) !important;
  border: none !important;
  color: white !important;
  font-weight: 900 !important;
  text-transform: inherit !important;
  border-radius: 30px !important;
  height: 50px !important;
}
@media (min-width: 640px) {
  .sidebar {
    width: 300px;
  }
}
@media (max-width: 375px) {
  .sidebar {
    width: 100px !important;
    padding: 10px;
  }

  .sidebar__twitterIcon {
    margin-bottom: 10px;
  }

  .sidebar__tweet {
    margin-top: 10px !important;
  }
}
