.tweet {
  border: 1px solid #e6ecf0;
  border-radius: 5px;
  padding: 10px;
  margin: 0 50px 10px 0;
  background-color: #fff;
}

.tweet h2 {
  margin: 0 0 5px;
  font-size: 16px;
  font-weight: bold;
  color: #14171a;
}

.tweet p {
  margin: 0;
  font-size: 14px;
  line-height: 1.4;
}
